extends layout

block content
  h1= title
  p Welcome to #{title}
  P Cheese strings cheese slices cheddar. Stinking bishop paneer stinking bishop babybel boursin taleggio cheese triangles cheddar. St. agur blue cheese cheese slices cheeseburger pecorino when the cheese comes out everybody's happy babybel boursin stilton. Croque monsieur st. agur blue cheese cheese strings cow cheesy feet. Airedale cheddar mascarpone. Cottage cheese goat stilton parmesan port-salut monterey jack cheese triangles mozzarella. Paneer smelly cheese cow queso lancashire bocconcini brie bocconcini. Paneer the big cheese danish fontina paneer red leicester. Edam stinking bishop cheese on toast. Smelly cheese cheesecake goat cheesy grin halloumi cheesy feet bavarian bergkase edam. Mascarpone st. agur blue cheese cut the cheese when the cheese comes out everybody's happy everyone loves cut the cheese cow cottage cheese. Manchego cheese and wine red leicester jarlsberg babybel.

